<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body >
    <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>
        <form name="form" ng-submit="register()" role="form">
            <div class="form-group">
                <label for="inputName">Complaint Type</label>
                <select id="inputCourseId" class="form-control" ng-model="user.RoleId" ng-options="x.RoleName for x in Roles"></select>
            </div>
            <div class="form-group" ng-if="user.RoleId.RoleId==2">
                <label for="inputSalary">Course</label>
                <select id="inputCourseId" class="form-control" ng-model="CourseId" ng-options="x.CourseName for x in Courses" ng-change="getBranch()"></select>
            </div>
            <div class="form-group" ng-if="user.RoleId.RoleId==2">
                <label for="inputSalary">Branch</label>
                <select class="form-control" id="inputBranchId" ng-model="BranchId" ng-options="item.BranchName for item in Branches" ng-change="getStudents()"></select>
            </div>
            <div class="form-group" ng-if="user.RoleId.RoleId==2">
                <label for="inputSalary">Student Name</label>
                <select class="form-control" id="inputStudentId" ng-model="user.StudentId" ng-options="item.StudentName for item in Students"></select>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
                <label for="username">First name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
                <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
                <label for="username">Last name</label>
                <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName" required />
                <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
                <label for="username">Email</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required />
                <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
                <span ng-show="form.email.$dirty && form.email.$error.email" class="help-block">Email is not valid</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="user.password" required />
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="#/login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</body>
</html>
